html, body{
	font-size: 100%;
	font-family: Arial, Helvitica, sans-serif;
}
body{
	background-color: #fff;
}
*{box-sizing:border-box;}
.video-playlist{
	width: 100%;
	max-width: 1280px;
	min-width: 320px;
	height: auto;
	margin: auto;
	padding: 1em;
	overflow:auto;
}
/*free open source video shorts from https://videos.pexels.com/popular-videos*/
.videos{
	background-color: #000;
	/*preserve aspect ratio*/
	width: 100%;
	position: relative;
	padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
video {
	width:100%;
	/*preserve aspect ratio*/
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
/*Small Mobile Devices*/
.mlinks{
	display: none; /*hide from tablet and up*/
	width: 100%;
	text-align: center;
	padding: 1em 0;
	margin:0 auto;
	overflow: auto;
}
.mlinks a{
	color:#000;
	text-decoration: none;
	padding:0 2px;
}
.mlinks a:active{
	color:#006699;
}
.mlinks a:visited{
	color:#000;
}
.mlinks a:hover{
	color:#006699;
}
/*Mobile and Tablet Devices*/
.links {
	width: 100%;
	height: auto;
	max-height: 152px;
	padding:0px auto;
	margin: 0;
	overflow:auto;
	text-align: center;
	background-color: #000;
}
.links img{
	max-width:100%;
	height: auto;
	text-align: center;
	vertical-align: middle;
	padding: 4px 1px;
	margin: 0;
}
.links a{
	margin:0;
	padding:0;
}
@media (max-width:320px){
	.mlinks{
		display:block;
	}
	.links{
		display: none;
	}
}
